.square-container {
    font-size: 15px;
    width: 300px;
    border: 1px solid #409EFF;
    padding: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.square-container-innner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
}

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.first-line > div:nth-child(2) > img {
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.first-line > div:nth-child(3) > img {
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}


.second-line {
    font-size: 12px;
}
